@charset "UTF-8";

body {
        background-image: url("lindo.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
}

div#interface {
    box-shadow: 0px 0px 5px black;
    padding:-10px;
    background-color:rgb(61, 110, 103);
    font-family: 'Times New Roman', Times, serif;
}

.menu{
    text-transform: uppercase;
    text-align: center; 
    height: -20px;
}

.menu ul li{
    padding: 20px;
    display:inline;
}

.menu a {
    color:black;
    text-decoration: none;
}

.menu a:hover {
    color:white;
}

header#cabeçalho {
    height:150px ;
    background: url("icone.png") no-repeat 0px 30px;  
}

header#cabeçalho h1{
    font-size: 50px;
    text-shadow: 0.5px 0.5px 0.5px black;
    text-align: center;
    color: black;
}

div#corpo {
    text-align:justify;
    font-size: 20px;
    width: 1225px;
    font-family: 'Times New Roman', Times, serif;
   
}

div#texto {
    background-color:  rgba(238, 233, 233, 0.55);
}

div#texto2 {
    background-color:  rgba(238, 233, 233, 0.55);
}
.footer {
    background-color: rgb(61, 110, 103);
    box-shadow: 0px 0px 10px black;
    font-family: 'Times New Roman', Times, serif;

}


