body {
background-image: url(img/folinha.jpg);
}


#seta { position: absolute; 
top: 20%; 
left: 50%;
 }


fieldset { position: absolute;
top: 38%; 
left: 29%; 
width: 520px;  
border-color: #DCDCDC;
border-radius: 20px;
box-shadow: 0px 0px 10px black;
 }

#reset {
 border:1px solid black;
 border-radius:10px;
 display:inline-block;
 cursor:pointer;
 font-family:arial;
 font-weight:bold;
 font-size:11px;
 padding:6px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 opacity: 0.7;
}

#reset:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
}

#reset:active {
position:relative;
top:3px;}

#submit {
border:1px solid black;
border-radius:10px;
display:inline-block;
cursor:pointer;
font-family:arial;
font-weight:bold;
font-size:11px;
padding:6px 30px;
text-decoration:none;
box-shadow: 3px 3px 3px black;
opacity: 0.7;
}

#submit:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
}

#submit:active {
position:relative;
top:3px;}

#primeiro { 
 position: absolute;
 top: 10.2%;
 left: 60%;
 border:1px solid #DCDCDC;
 border-radius: 10px;
 font-family: arial;
 font-weight: bold;
 font-size: 11px;
 padding:4px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 border-color: black;
 cursor: pointer;
}

#boxNome:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
border-radius: 10px;
cursor: pointer;
}

#cpf { position: absolute;
 top: 25.1%;
 left: 60%;
 border:1px solid #DCDCDC;
 border-color: black;
 border-radius: 10px;
 font-family:arial;
 font-weight:bold;
 font-size:11px;
 padding:4px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 cursor: pointer;
 }

#boxCpf:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
border-radius: 10px;
cursor: pointer;
}

#mail { position: absolute;
 top: 39.7%;
 left: 60%;
 border:1px solid #DCDCDC;
 border-color: black;
 border-radius: 10px;
 font-family:arial;
 font-weight:bold;
 font-size:11px;
 padding:4px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 cursor: pointer;
 }

#boxEmail:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
border-radius: 10px;
cursor: pointer;
}

#endereco { 
 position: absolute;
 top: 54.6%;
 left: 60%;
 border:1px solid #DCDCDC;
 border-color: black;
 border-radius: 10px;
 background-color: #FFFAF0;
 font-family:arial;
 font-weight:bold;
 font-size:11px;
 padding:4px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 cursor: pointer;
}

#boxEndereco:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
border-radius: 10px;
cursor: pointer;
}

#x {
 position: absolute;
 top: 16%;
 left: 3%;
 width: 280px;
 font-family:arial;
 color: #CDC5BF;
 text-shadow: 1px 1px black;
 border-radius: 10px;
 font-family:arial;
 box-shadow: 2px 2px 25px black; 
 font-size: 25;
}

#y {
 position: absolute;
 top: 44%;
 left: 3%;
 width: 280px;
 font-family:arial;
 color: #CDC5BF;
 text-shadow: 1px 1px black;
 border-radius: 10px;
 font-family:arial;
 box-shadow: 2px 2px 25px black; 
 font-size: 18;
}

#href {
 position: absolute;
 top: 11%;
 left: 3%;
 border:1px solid black;
 border-radius: 10px;
 border-radius: 10px;
 font-family:arial;
 color: #CDC5BF;
 text-shadow: 1px 1px black;
 width: 280px;
 cursor: pointer;
 box-shadow: 0px 0px 10px black;
}

#href:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 20px black;
}

#titulo { 

 border:1px solid black;
 border-radius: 10px;
 font-family:arial;
 color: #CDC5BF;
 text-shadow: 2px 2px black;
 box-shadow: 0px 0px 10px black;
}

#titulo:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 20px black;
}

#x:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 20px black;
}

#y:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 20px black;
}
 
#primeiro:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
}


#cpf:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
}

#mail:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
}

#endereco:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%);
box-shadow: 6px 6px 6px black;
}

#legenda {
 border-radius: 10px;
 border:1px solid black;
 font-family:arial;
 color: #CDC5BF;
 text-shadow: 1px 1px black;
 box-shadow: 3px 3px 3px black;
 
}

#legenda:hover { 
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%); 
box-shadow: 6px 6px 6px black;
}

#z {
 position: absolute;
 top: 11%;
 left: 76.5%;
 cursor: pointer;
 border-radius: 10px;
 border:1px solid black;
 font-family:arial;
 color: #CDC5BF;
 text-shadow: 1px 1px black;
 box-shadow: 0px 0px 10px black;
 width: 400;

 }

#p { 

 position: absolute;
 top: 17%;
 left: 76.5%;
 border-radius: 10px;
 font-family:arial;
 color: #CDC5BF;
 text-shadow: 1px 1px black;
 box-shadow: 0px 0px 10px black; 
 width: 260px;
}

#p:hover { 
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%); 
box-shadow: 3px 3px 20px black;
}

#z:hover { 
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%); 
box-shadow: 6px 6px 20px black;
}

#voltar {
 border:1px solid black;
 border-radius:10px;
 display:inline-block;
 cursor:pointer;
 font-family:arial;
 font-weight:bold;
 font-size:11px;
 padding:6px 10px;
 text-decoration:none;
 box-shadow: 3px 3px 20px black;
 opacity: 0.7;
}

#voltar:hover {
background:linear-gradient(to bottom, #8FBC8F 5%, #8FBC8F 100%); 
box-shadow: 6px 6px 6px black;
}

#voltar:active {
position:relative;
left:5px;
}