body {
background-image: url(lindo.png);
}

#tituloo {
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
}


fieldset { position: absolute;
top: 40%; 
left: 30%; 
width: 550px;  
border-color: black;
border-radius: 20px;
box-shadow: 0px 0px 10px black;
font-family: 'Times New Roman', Times, serif;

 }

#reset {
 border:1px solid black;
 border-radius:10px;
 display:inline-block;
 cursor:pointer;
 font-family:'Times New Roman', Times, serif;
 font-weight:bold;
 font-size:11px;
 padding:6px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 opacity: 0.7;
}

#reset:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
}

#reset:active {
position:relative;
top:3px;}

#submit {
border:1px solid black;
border-radius:10px;
display:inline-block;
cursor:pointer;
font-family:'Times New Roman', Times, serif;
font-weight:bold;
font-size:11px;
padding:6px 30px;
text-decoration:none;
box-shadow: 3px 3px 3px black;
opacity: 0.7;
}

#submit:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
}

#submit:active {
position:relative;
top:3px;}

#primeiro { 
 position: absolute;
 top: 15%;
 left: 60%;
 border:1px solid #DCDCDC;
 border-radius: 10px;
 font-family: arial;
 font-weight: bold;
 font-size: 11px;
 padding:3px 15px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 border-color: black;
 cursor: pointer;
}

#boxNome:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
border-radius: 5px;
cursor: pointer;
}

#cpf { position: absolute;
 top: 28%;
 left: 60%;
 border:1px solid black;
 border-color: black;
 border-radius: 10px;
 font-weight:bold;
 font-family: 'Times New Roman', Times, serif;
 font-size:11px;
 padding:4px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 cursor: pointer;
 }


#boxCpf:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
border-radius: 10px;
cursor: pointer;
}

#mail { position: absolute;
 top: 42%;
 left: 60%;
 border:1px solid #DCDCDC;
 border-color: black;
 border-radius: 10px;
 font-family:'Times New Roman', Times, serif;
 font-weight:bold;
 font-size:11px;
 padding:4px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 cursor: pointer;
 }

#boxEmail:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
border-radius: 10px;
cursor: pointer;
}

#endereco { 
 position: absolute;
 top: 56%;
 left: 60%;
 border:1px solid #DCDCDC;
 border-color: black;
 border-radius: 10px;
 background-color: #FFFAF0;
 font-family:'Times New Roman', Times, serif;
 font-weight:bold;
 font-size:11px;
 padding:4px 30px;
 text-decoration:none;
 box-shadow: 3px 3px 3px black;
 background-color: lightgrey;
 opacity: 0.7 ;
 cursor: pointer;
}

#boxEndereco:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
border-radius: 10px;
cursor: pointer;
}

#x {
 position: left;
 top: 16%;
 left: 3%;
 width: 280px;
 font-family:arial;
 color: black;
 border-radius: 10px;
 font-family:'Times New Roman', Times, serif;
 box-shadow: 2px 2px 25px black; 
 font-size: 25;
}

#y {
 position: left;
 top: 44%;
 left: 3%;
 width: 280px;
 font-family:'Times New Roman', Times, serif;
 color:black;
 border-radius: 10px;
 font-family:'Times New Roman', Times, serif;
 box-shadow: 2px 2px 25px black; 
 font-size: 18;
}

#href {
 position: left;
 top: 20%;
 left: 3%;
 border:1px solid black;
 border-radius: 10px;
 border-radius: 10px;
 font-family:'Times New Roman', Times, serif;
 color: black;
 width: 280px;
 cursor: pointer;
 box-shadow: 0px 0px 10px black;
}

#href:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 20px black;
}



#x:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 20px black;
}

#y:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 20px black;
}
 
#primeiro:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
}


#cpf:hover {
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 6px black;
}

#mail:hover {
background:linear-gradient(to bottom, );
box-shadow: 6px 6px 6px black;
}

#endereco:hover {
background:linear-gradient(to bottom,);
box-shadow: 6px 6px 6px black;
}

#legenda {
 border-radius: 10px;
 background-color:rgb(61, 110, 103);
 font-family:'Times New Roman', Times, serif;
 color:black;
 text-shadow: 1px 1px black;
 box-shadow: 3px 3px 3px black;
 
}


#z {
 position: absolute;
 top: 29%;
 left: 76.5%;
 cursor: pointer;
 border-radius: 10px;
 border:1px solid black;
 font-family:'Times New Roman', Times, serif;
 color: black;
 box-shadow: 0px 0px 10px black;
 width: 400;

 }

#p { 

 position: absolute;
 top: 40%;
 left: 76.5%;
 border-radius: 10px;
 font-family:'Times New Roman', Times, serif;
 color: black;
 box-shadow: 0px 0px 10px black; 
 width: 260px;
}

#p:hover { 
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 3px 3px 20px black;
}

#z:hover { 
background:linear-gradient(to bottom, rgb(18, 88, 92) 5%, #8FBC8F 500%);
box-shadow: 6px 6px 20px black;
}


#footer {
    color: rgb(61, 110, 103);
    box-shadow: 0px 0px 10px black;
    font-family: 'Times New Roman', Times, serif;
    position:absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.navbar-custom { 

    background-color: rgb(61, 110, 103); 

}

