body{
    background-image: url(lindo.png);
}

#barra {
    border: solid 1px black;
    background-image: url();
    float: center;
}

#primeiro {
    border: solid 1px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(238, 233, 233, 0.55);
}

#segundo {
    border: solid 1px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(238, 233, 233, 0.55);
}


#terceiro {
    border: solid 1px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(238, 233, 233, 0.55);
}


#quarto {
    border: solid 1px #000000;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(238, 233, 233, 0.55);
}

#carouosel {
    float: center; 
}

#titulo {
    text-align: center;
    font-size: 50px;
    font-weight: 6px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: black;
}